/ubikHost/bin/Debug
/ubikHost/obj/Debug
/ubikHost/bin/Release
/ubikHost/obj/Release
/ubique/bin/Debug
/ubique/obj/Debug
/ubique/bin/Release
/ubique/obj/Release
/pluginExample/bin/Debug
/pluginExample/obj/Debug
/pluginExample/bin/Release
/pluginExample/obj/Release